<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GovStack ID Server</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    </head>
    <body>

        <h1 class="login-header">GovStack ID Server</h1>

        This is a stubbed version of the GovStack ID Server. See <a href="https://github.com/GovStackWorkingGroup/IDBuildingBlock">https://github.com/GovStackWorkingGroup/IDBuildingBlock</a> for more information.

    </body>
</html>